<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_video.user %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @users_video.is_deleted %>
</p>

<p>
  <strong>Is downloadable:</strong>
  <%= @users_video.is_downloadable %>
</p>

<p>
  <strong>Video:</strong>
  <%= @users_video.video %>
</p>

<%= link_to 'Edit', edit_users_video_path(@users_video) %> |
<%= link_to 'Back', users_videos_path %>
