
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> -->
        </div>
        <div class="info">
          <a href="#" class="d-block"> <%= current_user.email %> </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to users_authenticated_root_path, class: "nav-link" do  %>
              <!-- <i class="far fa-circle nav-icon"></i> -->
              <%= fa_icon "circle nav-icon" %>
              <p>Dashboard</p>
            <% end %>
          </li>
          <% if current_user.role_id.nil? || current_user.role_id == 2 %>
            <li class="nav-item">
              <%= link_to students_path, class: "nav-link" do  %>
                <%= fa_icon "circle nav-icon" %>
                <p>Students</p>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to users_videos_path, class: "nav-link" do  %>
              <%= fa_icon "circle nav-icon" %>
              <p>Videos</p>
            <% end %>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
